In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
features=pd.read_csv(r"C:\Users\EXBWND5\Downloads\WalmartProject\walmart-recruiting-store-sales-forecasting\features.csv")

In [4]:
features.head(1)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False

In [5]:
features.isnull().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [6]:
features.shape

(8190, 12)

it has eleven columns. 
Store: the store number, 
Date: the week, 
Temperature: average temperature in the region,
Fuel_Price: cost of fuel in the region,
MarkDown1–5: anonymized data related to promotional markdowns that Walmart is running. Markdown data is only available after Nov 2011, and is not available for all stores all the time. Any missing value is marked with an NA. Selected holiday markdown events are included in the dataset. These markdowns are known to affect sales, but it is challenging to predict which departments are affected and the extent of the impact. 
3 CPI — the consumer price index, 
Unemployment : the unemployment rate,
IsHoliday: whether the week is a special holiday week

In [8]:
stores=pd.read_csv(r"C:\Users\EXBWND5\Downloads\WalmartProject\walmart-recruiting-store-sales-forecasting\stores.csv")

In [9]:
stores.head(1)

   Store Type    Size
0      1    A  151315

In [10]:
stores.isnull().sum()

Store    0
Type     0
Size     0
dtype: int64